---
layout: default
description: We are a friendly bunch of amateur photography enthusiasts, meeting once a month in Broseley, Shropshire to discuss a range of practical tips and helpful advice. Members of all skill levels, from beginner to very experienced are all welcome.
---

<!-- <div class="header-bar">
  <div class="img_row"><img src="{{site.baseurl}}/assets/img/BCC-Logo.png"></div>
</div> -->

<h1 class="animated pulse">Welcome to Broseley Camera Club's Website</h1>

  <br/><br/>

    We are a friendly bunch of like minded people, who get together and discuss as many aspects of photography as we can. We meet only once a month, having a break in August and December. The meetings are very informal and easy to follow.

<br/> <br/>

    We have workshops and presentations that suit all abilities, from beginners to advanced, phone to DSLR. There really is something for everyone. Please read through our <a href="{{ site.url}}/about/">'About Page'</a> for more about our club.

<br/> <br/>

    Please feel free to browse through our <strong><a href="{{ site.url }}/gallery/">Galleries</a></strong> and <strong><a href="{{ site.url }}/news/">Snippets</a></strong> from our members newsletters. Take a look at what we are up to this year in our <strong>
      {% assign sorted = site.programme | sort: 'date' | reverse  %} 
      {% for programme in sorted limit:1 %}
          <a href="{{ programme.url | prepend: site.baseurl }}">Current Programme</a>
      {% endfor %}
    </strong> and/or please contact us to find out more.

<br/> <br/>

<!-- {% include meeting_countdown.html %} -->

<br/> <br/>

<hr>

<br/> <br/>

{% include latestNewsSnippet.html %}

&nbsp;

<br/> <br/>

<hr>

<br/> <br/>

{% include featuredGallery.html %}

Click <strong><a href="{{ site.url }}/gallery/">HERE</a></strong> to see more member galleries...

<!-- <script>
  $.fn.cornerpopup({
    variant: 3,
    slide: 1,
    timeOut: 20000,
    delay: 1000,
    escClose: 1,
    link2: "{{ site.baseurl }}/2020/05/05/COVID_UPDATE",
    messageImg: "assets/img/Notification-Icon.png",
    header: "COVID 19 UPDATE",
    text2: "Please Click here to find out what our club is doing during the Covid-19 Lockdown",
    button3: "CLICK",
    colors: "#aca655",
  });
</script> -->

