---
layout: default
description: We are a friendly bunch of amateur photography enthusiasts, meeting once a month with a range of practical tips and helpful advice.
---

<div class="header-bar">
  <div class="img_row"><img src="{{site.baseurl}}/assets/img/BCC-Logo.png"></div>

</div>

<h1 class="animated pulse">Welcome to Broseley Camera Club's Website</h1>

  <br/><br/>

    We are a friendly bunch of like minded people, who get together and discuss as many aspects of photography as we can. We meet only once a month, having a break in August and December. The meetings are very informal and easy to follow.

<br/> <br/>

    We have workshops and presentations that suit all abilities, from beginners to advanced, phone camera to DSLR. There really is something for everyone. Please read through our <a href="{{ site.url}}/about/">'About Page'</a> for more about our club.

<br/> <br/>

    Please feel free to browse through our <strong><a href="{{ site.url }}/gallery/">Galleries</a></strong> and <strong><a href="{{ site.url }}/news/">Snippets</a></strong> from our members newsletters. Take a look at what we are up to this year in our <strong><a href="{{ site.url }}/programme/">Programme</a></strong> and/or contact us to find out more.

<br/> <br/>

<!-- {% include meeting_countdown.html %} -->

<br/> <br/>

<hr>

<br/> 
<br/>

{% include latestNewsSnippet.html %}

<br/> 
<br/>
<br/> 
<br/>

{% include featuredGallery.html %}

Click <strong><a href="{{ site.url }}/gallery/">HERE</a></strong> to see more member galleries...

