<h2>our featured <strong><a href="{{ site.url }}/gallery/">galleries...</a></strong></h2>

<br/> 

<div class="custom1 owl-carousel owl-theme">
<!-- featured gallery loop -->
    {% for item in site.featured limit:4 %}
        <div class="featuredThumbnail">
          <a href="{{ item.baseurl }}{{ item.url }}">
            <img class="featuredThumbnail" src="{{ item.img }}"/>
        <span>
            <h1>{{ item.title }}</h1>
            <br/>
            <p>{{ item.description }}</p>
        </span>
            </a>
        </div>
    {% endfor %}
</div>