<footer class="site-footer">

  <div class="wrapper">
  	<p>Additional Links: &nbsp;&nbsp;<a href="{{ site.baseurl }}/comp_rules/">Competition Rules</a> &nbsp; |  &nbsp; <a href="{{ site.baseurl }}/Judging_Images/">Tips on Judging Images</a></p>
  	<p>All images on this site are copyright to the photographer and owner. All rights reserved to Broseley Camera Club &#169; 2018</p>
  </div>
  
<!-- JQuery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Lightbox Scripts -->
  <script src="{{ site.baseurl }}/assets/js/lightboxgallery-min.js"></script>

<!-- Owl Carousel Scripts -->
  <script src="{{ site.baseurl }}/assets/js/owl.carousel.js"></script>
  <script src="{{ site.baseurl }}/assets/js/owl.animate.js"></script>

<!-- Custome Scripts for site options -->
  <script src="{{ site.baseurl }}/assets/js/custom.js"></script>

</footer>
