<footer class="site-footer">

  <div class="wrapper">
    <p>Additional Links: 
      &nbsp;&nbsp;
        <a class="footlink" href="{{ site.baseurl }}/comp_rules/">Competition Rules</a> 
      &nbsp; |  &nbsp; 
        <a class="footlink" href="{{ site.baseurl }}/Judging_Images/">Tips on Judging Images</a> 
      &nbsp; |  &nbsp;

      {% assign sorted = site.programme | sort: 'date' | reverse  %} 
      {% for programme in sorted limit:1 %}
          <a class="footlink" href="{{ programme.url | prepend: site.baseurl }}">{{ programme.title }}</a>
      {% endfor %}

    </p>

    <p>All images on this site are copyright &#169; to the photographer and owner. All rights reserved to Broseley Camera Club &#169; from 2018</p>
  </div>
  
<!-- Lightbox Scripts -->
  <script src="{{ site.baseurl }}/assets/js/lightboxgallery-min.js"></script>

<!-- Owl Carousel Scripts -->
  <script src="{{ site.baseurl }}/assets/js/owl.carousel.js"></script>
  <script src="{{ site.baseurl }}/assets/js/owl.animate.js"></script>


<!-- Masonary Grid for Online Comps -->
  <script src="{{ site.baseurl }}/assets/js/imagesloaded.pkgd.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/masonry.pkgd.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/classie.js"></script>
  <script src="{{ site.baseurl }}/assets/js/grid.js"></script>
  <script src="{{ site.baseurl }}/assets/js/nav.js"></script>



<!-- Custom Scripts for site options -->
  <script src="{{ site.baseurl }}/assets/js/custom.js"></script>
  

</footer>

