<header class="site-header">

  <div class="wrapper">

    <div class="logo"><a class="invisibleLink" href="{{ site.baseurl }}/"></a></div>

    <nav class="site-nav">

      <div class="trigger">

        <a class="page-link" href="{{ site.baseurl }}/">Home</a>

        {% for page in site.pages %}
          {% if page.menu == 'main' %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}

        <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>

      </div>

    </nav>

  </div>

</header>
