
/**
 * Site header   **********************************************************
 */
.site-header {
border-bottom: 1px solid $grey-color-light;
background-color: #fff;
opacity: 0.75;
position:fixed;
left:0px;
top:0px;
height:56px;
width:100%;
z-index: 50;
}

.site-title {
font-size: 20px;
line-height: $nav-height;
letter-spacing: -1px;
margin-bottom: 0;
&:hover {
text-decoration: none;
color: $theme-color;
    }
}

.site-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    line-height: $nav-height;
    max-height:  $nav-height;
.page-link{
line-height: $base-line-height;
        // Gaps between nav items, but not on the first one
&:not(:first-child) {
margin-left: 10px;
        }
    }
}

// SITE HEADER LOGO STYLE - MODERNIZER BACKUP
.logo{
    // padding: 0.5em;
    width: 40%;
    text-indent: -9999px;
    height: $nav-height;
    background-repeat: no-repeat;
    justify-self: left; 
}
.logo img{
    max-width: 115px;
    max-height: 45px;
}

.webp .logo{
  background-image: url("/assets/img/BCC-Logo.webp");
  background-size: 110px 50px;
  background-position: left;
  margin-left: 0.5em;
}
.no-webp .logo{
  background-image: url("/assets/img/BCC-Logo.png");
  background-size: 110px 50px;
  background-position: left;
  margin-left: 0.5em;
}
.invisibleLink {
    display: block;
    position: inherit;
    height: $nav-height; 
    width: 115px;
    margin-right: auto;
}

// NAVIGATION LINKS

.nav-links{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
    width: 50%;
}

.nav-links li{
    list-style: none;
}

// BURGER NAV

.burger div{
    width: 25px;
    height: 3px;
    background-color: $grey-color-dark;
    margin: 5px;
    display: none;
    transition: all 0.3s ease
}

@media screen and (max-width: 1000px) {
    .nav-links{
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        top: 56px;
        height: 87vh;
        width: 100%;
        background-color: $grey-color-dark;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

    }
    .nav-links li{
        font-size: 1.5rem;
        font-weight: bold;
    }
    .nav-links a{
        color: white;
    }
    .nav-links a:hover{
        color: #aca655;
    }
    .burger div{
        display: block;
        cursor: pointer;
    }
}

.nav-active{
    transform: translateX(0%);
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}


.header-bar{
    left: 0px;
    top: 0px;
    position: relative;
    font-size: 20px;
    display: block;
    opacity: 0.75;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    line-height: 3em;
    z-index: 25;
    h1{
        color: $theme-color;
        font-size:75px;
    }
    h2{
        font-size:25px;
    }
}

/**
 * Site footer  **********************************************************
 */
.site-footer {
border-top: 1px solid $grey-color-dark;
font-size: 12px;
background-color: $grey-color-dark;
padding: 2px;
color: #aaa;
position:fixed;
left:0px;
bottom:0px;
height:50px;
width:100%;
text-align:center;
z-index: 1;
}

.site-footer p{
margin-bottom: 0px;
}

.footlink {
color: $theme-color;
text-decoration: none;
    }
/**
 * Pagination   **********************************************************
 */
.pagination{
max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 2));
text-align: center;
width: 100%;
position: fixed;
bottom: 50px;
}
.paginationicon {
font-size: 50px;
}


/**
 * Page content   **********************************************************
 */
.page-content {
padding: 100px 0; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
}
.page-heading {
font-size: 20px;
}
.post-list {
margin: 0px 0;
list-style: none;
    > li {
margin-bottom: $vertical-spacing-unit;
    }
}
.contacticon {
font-size: 60px;
display:block;
margin: 10px;
}
.center{
text-align: center;
}

.home-post{
    border-left: 1px solid #bdc3c7;
}
/**
 * Posts  **********************************************************
 */
.post-header {
margin-bottom: $vertical-spacing-unit;
}
.post-title {
font-size: 42px;
letter-spacing: -1px;
line-height: 1;
@include media-query($on-laptop) {
font-size: 36px;
    }
}
.post-content {
h2 {
font-size: 42px;
@include media-query($on-laptop) {
font-size: 28px;
        }
    }
h3 {
font-size: 30px;
@include media-query($on-laptop) {
font-size: 22px;
        }
    }
h4 {
font-size: 20px;
@include media-query($on-laptop) {
font-size: 18px;
        }
    }
}
.post-meta {
font-size: $small-font-size;
color: $grey-color;
margin-bottom: 0px; 
}
.post-link {
display: block;
font-size: 42px;
}



/** Poem formatting ********************************************/
.poem-title {
font-size: 24px;
letter-spacing: -1px;
line-height: 1;
@include media-query($on-laptop) {
font-size: 16px;
    }
}


/** 
 * Portfolio grid **********************************************************
*/
// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}
.project {
width: 33.33%;
height: 250px;
float: left;
vertical-align: middle;
box-sizing: border-box;
padding: 10px;
}
.thumbnail{
width: 100%;
height: 230px;
overflow: hidden;
}
.thumbnail img{
width: 500px;
height: auto;
position: relative;
left: -68%;
top: -10%;
}
.thumbnail a{
float: left;
position: relative;
width: 100%;
height: 230px;
}
.thumbnail a span {
display: none;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
background: rgba(0,0,0,0.4);
color: $grey-color-light;
padding: 40px;
text-align: center;
}
.thumbnail a:hover span {
display: block;
}
/** 
 * Portfolio pages **********************************************************
*/
.blankbox{
background: $theme-color;
}
.img_row{
height: $img_height;
width: 100%;
overflow: hidden;
box-sizing:border-box;
padding: $img_spacing;
}
.img_row_sm{
height: $img_height_sml;
width: 100%;
overflow: hidden;
box-sizing:border-box;
padding: $img_spacing;
}
.col{ 
width: 100%;
height: 100%;
float: left;
object-fit: cover;
box-sizing:border-box;
padding: $img_spacing;
}
.right{
float: right;
}
.one {
width:33.33%;
}
.two {
width: 66.66%;
}
.three{
width: 100%;
}
.half{
width: 50%;
}
.caption{
height: 100%;
color: $caption_color;
text-align: center;
vertical-align: middle;
font-size: $caption_font_size;
}

// Footer Navigation - Small links at bottom of page. **********************************************************

.PageNavigation {
  font-size: 10px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}


// Featured Project Slider!! **********************************************************

.featuredThumbnail{
width: 100%;
height: 200px;
overflow: hidden;
padding: 0;
}
.featuredThumbnail img{
width: 100%;
height: auto;
position: relative;
left: 0;
top: -50%;
padding: 0;
}
.featuredThumbnail a{
float: left;
position: relative;
width: 100%;
height: 100px;
}
.featuredThumbnail a span {
display: none;
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
background: rgba(0,0,0,0.4);
color: $grey-color-light;
padding: 10%;
text-align: center;
}
.featuredThumbnail a:hover span {
display: block;
}

// Gallery Pages **********************************************************

.lightboxgallery-gallery img{
height: $img_height;
overflow: hidden;
box-sizing:border-box;
padding: $img_spacing;
}


// Programme Layouts **********************************************************

.parent-prog {
display: grid;
grid-template-columns: 1fr 7fr repeat(6, 0);
grid-template-rows: repeat(1, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
padding: 32px 0px 32px 0px;
}

.div1 { 
    margin: auto;
}

.prog-Date{
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-right: 20px;
}

.prog-SubDate{
    color: $grey-color-med;
    padding-right: 20px;

}

.div2 { 
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.prog-Title {
    font-weight: bold;
    padding-left: 20px;
    padding-bottom: 8px;
    font-size: 18px;
}

.prog-Description{
    padding-left: 20px;
    color: $grey-color-med;
}

.prog-SubDesc {
    font-size: 12px;
    color: $grey-color-light;
}


// Clock **********************************************************

.clock-area {
    margin-bottom: 1.5em;
}


// Online Competition Grid View // **********************************************************

.Comp_Img {
    padding-bottom: 80px;
}

.Number {
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
}

.subName {
    font-size: 0.75em;
    font-style: italic;
    margin-left: 60px;

}

.comp_LongView{
    margin-bottom: 20px;
}

.grid {
    position: relative;
    margin: 0 auto;
}

.js .grid::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background: #252323 url(../img/loading.svg) no-repeat 50% 75px;
    background-size: 60px auto;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.js .grid--loaded::after {
    opacity: 0;
}

.grid__item {
    width: 270px;
    padding: 10px;
}

.grid__item--current {
    opacity: 0 !important;
}

.img-wrap {
    display: block;
}

.img-wrap:focus,
.img-wrap:hover {
    outline: none;
}

.img-wrap img {
    display: block;
    max-width: 100%;
}

.preview {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
    align-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.preview--open {
    pointer-events: auto;
}


/* circle overlay (generated SVG) */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.overlay circle {
    -webkit-transition: fill-opacity 0.3s, -webkit-transform 0s 0.3s;
    transition: fill-opacity 0.3s, transform 0s 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    fill: #000000;
    fill-opacity: 0;
}

.preview--open .overlay circle {
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    fill-opacity: 1;
}

.clone {
    position: fixed;
    z-index: 110;
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.5, 1, 0.2, 1);
    transition: transform 0.6s cubic-bezier(0.5, 1, 0.2, 1);
    -webkit-backface-visibility: hidden;
}

.original {
    position: relative;
    z-index: 120;
    display: block;
    object-fit: contain;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    -webkit-backface-visibility: hidden;
}

.preview--open .animate {
    /* open */
    -webkit-transition: -webkit-transform 0.6s, opacity 0.2s;
    transition: transform 0.6s, opacity 0.2s;
}

.animate {
    /* close */
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.description {
    color: #fff;
}

.js .description--grid {
    display: none;
}

.description--preview {
    position: fixed;
    z-index: 140;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2em 1em;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
    background: linear-gradient(180deg, transparent, #1f1d1d);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.preview--open .description--preview {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/* Close button */

.action {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    cursor: pointer;
    vertical-align: top;
    color: #C5BB3A;
    border: none;
    background: none;
}

.action:hover,
.action:focus {
    color: #C5BB3A;
    outline: none;
}

.action--close {
    position: fixed;
    z-index: 150;
    top: 0;
    right: 0;
    padding: 1em;
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: scale3d(0.6, 0.6, 1);
    transform: scale3d(0.6, 0.6, 1);
}

.preview--image-loaded .action--close {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.text-hidden {
    position: absolute;
    display: block;
    overflow: hidden;
    width: 0;
    height: 0;
    color: transparent;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}





